
<style>
    body{
        background-image: url("../../img/Juego.cshtml.png");
    }
</style>
<body>


    <!-- Contenedor del nombre de usuario y puntos -->
        <div class="user-info">
            <span class="username">@ViewBag.Username</span>
            <span class="points">@ViewBag.PuntajeActual</span>
        </div>

        <!-- Contenedor de la pregunta y opciones -->
        <div class="game-container">
            <div class="question-container">
                <h1 class="question">@ViewBag.NombrePregunta</h1>
            </div>
            <form class="options-form" action='@Url.Action("VerificarRespuesta")'>
                    @foreach (Respuesta respuesta in ViewBag.Respuestas)
                    {
                        <button class="option-button" name="idRespuesta" value="@respuesta.IdRespuesta">@respuesta.Contenido</button>
                    }
            </form>
        </div>
   

    <script src="script.js"></script>
 
</body>